<div class= "left-bot">
  <div class= "code-area">
    <% @codes.each do |code| %>
    <div class="code-wrapper">
      <div class="code-image">
        <%= link_to(code_path(code.id), class: "code-link") do %>
        <%= markdown(code.codetext).html_safe %>
        <% end %>
      </div>
      <%= link_to(code_path(code.id), class: "code-link") do %>
      <div class="code-text">
        <div class="code-title">
          <h2 class="post-title"> <%= code.title %> </h2>
        </div>
        <div class="code-explain">
        </div>
      </div>
      <% end %>
    </div> 
    <% end %> 
  </div>
</div>
<div class="right-bot">
  <div class="link-area">
    <%= link_to(new_code_path) do %>
    <div class="code-post">
      <p class="new-submit">NEW POST</p>
      <p class="new-submit">TOUKOU</p>
      <p class="new-submit">NEW CODE</p>
    </div>
    <% end %>
    <div class="link-lists">
    </div>
  </div>
</div>
