<div class= "left-up">
  <div class= "title">
    Code-Hub 
  </div>
  <div class= "texts">
    <div class="used-program">
      このwebサイトは<br>HTML/CSS, Ruby on Rails, javascriptで作られています
    </div>
    <div class="author-info">
      Made by Hajime Ogura
    </div>
  </div>
  <div class ="buttons">
    <% if user_signed_in? %>
    <%= link_to(user_path(current_user.id), class: "button") do %>
    <div class="button-left">
      Welcome Back!! <%= current_user.nickname %>!!
    </div>
    <% end %>
    <%= link_to(destroy_user_session_path, method: :delete, class: "button") do %>
    <div class="button-right">
      ログアウトする
    </div>
    <% end %>
    <% else %>
    <%= link_to(new_user_session_path, class: "button") do %>
    <div class="button-left">
      ログインする
    </div>
    <% end %>
    <%= link_to(new_user_registration_path, class: "button") do %>
    <div class="button-right">
      新規登録はこちらから
    </div>
    <% end %>
    <% end %>
  </div>
</div>
<div class= "right-up">
  
  <div class= "right-log">
    <div class="log-title">
      最近見たコード一覧
    </div>
    <div class="log-area">
      <% @histories.zip(@codes) do |history, code| %>
      <%= link_to(code_path(code.id), class: "code-link") do %>
      <div class="logs">
      ・ <%= history.code.title %>
      </div>
      <% end %>
      <% end %>
    </div>
  </div>
  <div class= "right-codes">
   コードの羅列
  </div>
</div>
