<%= render "shared/header" %>
<div class= "new-wrapper">
  <%= form_with model: @code, url: codes_path, class: 'registration-main', local: true do |f| %>
  <div class= "new-form">
    <div class= "new-header">
      <h1 class= "show-head-text">
        New Code
      </h1>
    </div>
    <div class="new-code-form">
      <%= f.text_area :codetext, class:"new-space", value: @template %> 
    </div>
    <div class="new-choices">

        <%= render 'shared/error_messages', model: f.object, locals: {model: @code} %>

      <div class="new-categories">
        <div class="new-title">
          <label class="new-text">タイトル</label>
           <%= f.text_area :title, class:"input-title", placeholder:"例) コード名", maxlength:"20" %>
        </div>
        <div class="new-select">
          <div class="new-category">
            <label class="new-text">カテゴリー</label>
            <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"select-box"}) %>
          </div>
          <div class="new-genre">
            <label class="new-text">ジャンル</label>
            <%= f.collection_select(:genre_id, Genre.all, :id, :name, {}, {class:"select-box"}) %>
          </div>
        </div>
      </div>
      <div class="new-button">
        <%= link_to(root_path, class: "return-link") do %>
        <div class ="return-btn">
          戻る
        </div>
        <% end %>
        <div class="new-btn">
        <%= f.submit "NEW", class:"new-smt" %>
        </div>
      </div>
    </div>
  </div>
  <% end %>
  <div class="new-right">
  </div>
</div>
<%= render "shared/footer" %>