<%= render "shared/header" %>
<div class="show-wrapper">
  <div class="show-code">
    <div class= "show-header">
      <h1 class= "show-head-text">
        <%= @code.title %>
      </h1>
    </div>
    <div class="code-show" id="copied">
      <%= markdown(@code.codetext).html_safe %>
    </div>
    <div class= "show-settings">
      <div class="show-buttons">
        <% if user_signed_in? && @code.user.id == current_user.id %>
        <%= link_to(edit_code_path(@code), class: "edit-btn") do %>
        <div class ="btn">
          編集
        </div>
        <% end %>
        <%= link_to(code_path(@code), method: :delete, class: "delete-btn") do %>
        <div class ="btn">
          削除
        </div>
        <% end %>
        <% end %>
        <%= link_to(root_path, class: "show-return") do %>
        <div class ="btn">
          戻る
        </div>
        <% end %>
        <div class ="clip-btn", data-clipboard-target="#copied", id="clipping">
          コピー<br>する
        </div>
        <div class ="btn">
        </div>
      </div>
    </div>
    <div class= "show-info">
      <%= link_to("/users/#{@code.user.id}", class: "show-user-link") do %>
      <div class="info-show">
        投稿者名<br><%= @code.user.nickname %>
      </div>
      <% end %>
      <div class="info-show">
        カテゴリー<br><%= @code.category.name %>
      </div>
      <div class="info-show">
       ジャンル<br><%= @code.genre.name %>
      </div>
    </div>  
  </div>
  <div class="show-comment">
    <h1 class= "show-head-text">
      Comment
    </h1>
   <div class="comment-area">
     <% @comments.each do |comment| %>
     <div class="comments-wrap">
       <div class="comments-name">
         <%= image_tag "monkey.png", size:"100x100" %>
       </div>
        <div class="comments-content">
          <div class="comment">
            <%= markdown(comment.concept).html_safe %>
          </div>
          <div class="comment-info">
            <%= link_to("/users/#{@code.user.id}", class:"owner") do %>
            <%= comment.user.nickname %>
            <% end %>
            <%= comment.created_at.strftime('%Y/%m/%d') %>
          </div>
        </div>
      </div>
      <% end %>
   </div>
   <div class="comment-form">
    <% if user_signed_in? %>
      <%= form_with(model: [@code, @comment], local: true) do |f| %>
        <div class="show-field">
          <%= f.text_area :concept, class: "comment-content", value: @template %>
          <div class="actions">
            <%= f.submit "送信する", class: "form-btn"  %>
          <b class="comment-warn">
            ※コメントは注意して投稿してください。
          </b>
          </div>
        </div>
      <% end %>
    <% end %>
    </div>
  </div>
</div>
<%= render "shared/footer" %>