<!DOCTYPE html>
<html>
  <head>
    <title>CodeHub</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=DotGothic16&family=Press+Start+2P&family=Roboto+Mono:wght@200&display=swap" rel="stylesheet">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/marked/2.0.1/marked.js'></script>
    <script>hljs.initHighlightingOnLoad();</script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
